.profile-info-container {
  text-align: center;
  background-color: #1a1b21;
}

.profile-name {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 6px;
}

.profile-designation {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
  margin-bottom: 9px;
}

.profile-website {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #f5f5f5;
  text-decoration: none;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 15px;
}

.Email-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 14px;
  color: #374151;
}

.LinkedIn-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  background: #5093e2;
  border: 1px solid #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (min-width: 700px) {
  .profile-image {
    width: 100%;
  }

  .profile-name {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 8px;
  }

  .profile-designation {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #f3bf99;
    margin-bottom: 9px;
  }

  .profile-website {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #f5f5f5;
    text-decoration: none;
  }
}
