@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #23252c;
  margin: 44px 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}
